Src/IKayak.v11.suo
Src/IKayak.Schemas/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Src/IKayak.Schemas/obj/Debug/IKayak.Schemas.csproj.FileListAbsolute.txt
Src/IKayak.Schemas/obj/Debug/IKayak.Schemas.csprojResolveAssemblyReference.cache
Src/KayakApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Src/KayakApp/obj/Debug/IKayak.csproj.FileListAbsolute.txt
Src/KayakApp/obj/Debug/IKayak.csprojResolveAssemblyReference.cache
Src/Tests/AppKickStart.UnitTests/obj/Debug/AppKickStart.UnitTests.csproj.FileListAbsolute.txt
Src/Tests/AppKickStart.UnitTests/obj/Debug/AppKickStart.UnitTests.csprojResolveAssemblyReference.cache
Src/Tests/AppKickStart.UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Src/Tests/AppKickStart.UnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Src/Tests/AppKickStart.UnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Src/Tests/AppKickStart.UnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Src/Tests/IKayak.Stubs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Src/Tests/IKayak.Stubs/obj/Debug/IKayak.Stubs.csproj.FileListAbsolute.txt
Src/Tests/IKayak.Stubs/obj/Debug/IKayak.Stubs.csprojResolveAssemblyReference.cache
Src/Tests/IKayak.Stubs/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Src/Tests/IKayak.Stubs/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Src/Tests/IKayak.Stubs/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Src/Tests/IKayak.UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Src/Tests/IKayak.UnitTests/obj/Debug/IKayak.Tests.csproj.FileListAbsolute.txt
Src/Tests/IKayak.UnitTests/obj/Debug/IKayak.Tests.csprojResolveAssemblyReference.cache
Src/Tests/IKayak.UnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Src/Tests/IKayak.UnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Src/Tests/IKayak.UnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
