<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="push" type="AppKickStart.Common.Push.PushConfigurationSection, AppKickStart.Common, Version=1.0.0.0, Culture=neutral"/>
  </configSections>
  <appSettings>
    
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="DynamicAssemblies" value="AppKickStart.Schemas.dll;IKayak.Schemas.dll"/>
    
    <add key="BookingsIntervalSecs" value="300"/>
    <add key="WeatherIntervalSecs" value="60"/>

    <!--<add key="domain" value="localhost:38720"/>
    <add key="SqliteDb" value="C:\Development\IKayak\Src\KayakApp\IKayak.sqlite"/>-->

    <add key="domain" value="breezback.com/IKayak"/>
    <add key="SqliteDb" value="C:\Development\IKayak\Src\KayakApp\IKayak.sqlite"/>
    
    <add key="SendAsyncMail" value="1"/>
    <add key="weatherApiKey" value="6q679s8xuvznesjj28aw2mpf"/>
    
  </appSettings>
  <push>
    <components>
      <!--<add enabled="true" target="GCMAndroidPush" sender="mulibachar@gmail.com" password="Barbunia1!" package="il.co.gooz" authkey="AIzaSyCrYhRqMBG4r-XUvc3VL-Hm9JP3L4RuNSU"/>-->
      <add enabled="false" target="" sender="" password="" package=""/>
    </components>
  </push>
  <system.net>
    <mailSettings>
      <smtp from="ilan.levy78@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="ilan.levy78@gmail.com" password="96MSdio@78" defaultCredentials="false" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
